{{#if this.length}}
{{#each this}}
<tr style="page-break-inside: avoid;">
    <td class="font-medium text-xs p-4">
        <div class="flex items-start ml-8">
            <!--AWS-->
            {{#ifEquals provider "AWS"}}
            <svg id="aws_logo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0"
                class=" mt-1 mr-2 " style="width: 20px;" viewBox="0 0 304 182" xml:space="preserve">
                <style>
                    .st1 {
                        fill-rule: evenodd;
                        clip-rule: evenodd;
                        fill: #f90;
                    }
                </style>
                <path
                    d="M86.4 66.4c0 3.7.4 6.7 1.1 8.9.8 2.2 1.8 4.6 3.2 7.2.5.8.7 1.6.7 2.3 0 1-.6 2-1.9 3L83.2 92c-.9.6-1.8.9-2.6.9-1 0-2-.5-3-1.4-1.4-1.5-2.6-3.1-3.6-4.7-1-1.7-2-3.6-3.1-5.9-7.8 9.2-17.6 13.8-29.4 13.8-8.4 0-15.1-2.4-20-7.2-4.9-4.8-7.4-11.2-7.4-19.2 0-8.5 3-15.4 9.1-20.6 6.1-5.2 14.2-7.8 24.5-7.8 3.4 0 6.9.3 10.6.8 3.7.5 7.5 1.3 11.5 2.2v-7.3c0-7.6-1.6-12.9-4.7-16-3.2-3.1-8.6-4.6-16.3-4.6-3.5 0-7.1.4-10.8 1.3-3.7.9-7.3 2-10.8 3.4-1.6.7-2.8 1.1-3.5 1.3-.7.2-1.2.3-1.6.3-1.4 0-2.1-1-2.1-3.1v-4.9c0-1.6.2-2.8.7-3.5.5-.7 1.4-1.4 2.8-2.1 3.5-1.8 7.7-3.3 12.6-4.5C41 1.9 46.2 1.3 51.7 1.3c11.9 0 20.6 2.7 26.2 8.1 5.5 5.4 8.3 13.6 8.3 24.6v32.4zM45.8 81.6c3.3 0 6.7-.6 10.3-1.8 3.6-1.2 6.8-3.4 9.5-6.4 1.6-1.9 2.8-4 3.4-6.4.6-2.4 1-5.3 1-8.7v-4.2c-2.9-.7-6-1.3-9.2-1.7-3.2-.4-6.3-.6-9.4-.6-6.7 0-11.6 1.3-14.9 4-3.3 2.7-4.9 6.5-4.9 11.5 0 4.7 1.2 8.2 3.7 10.6 2.4 2.5 5.9 3.7 10.5 3.7zm80.3 10.8c-1.8 0-3-.3-3.8-1-.8-.6-1.5-2-2.1-3.9L96.7 10.2c-.6-2-.9-3.3-.9-4 0-1.6.8-2.5 2.4-2.5h9.8c1.9 0 3.2.3 3.9 1 .8.6 1.4 2 2 3.9l16.8 66.2 15.6-66.2c.5-2 1.1-3.3 1.9-3.9.8-.6 2.2-1 4-1h8c1.9 0 3.2.3 4 1 .8.6 1.5 2 1.9 3.9l15.8 67 17.3-67c.6-2 1.3-3.3 2-3.9.8-.6 2.1-1 3.9-1h9.3c1.6 0 2.5.8 2.5 2.5 0 .5-.1 1-.2 1.6-.1.6-.3 1.4-.7 2.5l-24.1 77.3c-.6 2-1.3 3.3-2.1 3.9-.8.6-2.1 1-3.8 1h-8.6c-1.9 0-3.2-.3-4-1-.8-.7-1.5-2-1.9-4L156 23l-15.4 64.4c-.5 2-1.1 3.3-1.9 4-.8.7-2.2 1-4 1h-8.6zm128.5 2.7c-5.2 0-10.4-.6-15.4-1.8-5-1.2-8.9-2.5-11.5-4-1.6-.9-2.7-1.9-3.1-2.8-.4-.9-.6-1.9-.6-2.8v-5.1c0-2.1.8-3.1 2.3-3.1.6 0 1.2.1 1.8.3.6.2 1.5.6 2.5 1 3.4 1.5 7.1 2.7 11 3.5 4 .8 7.9 1.2 11.9 1.2 6.3 0 11.2-1.1 14.6-3.3 3.4-2.2 5.2-5.4 5.2-9.5 0-2.8-.9-5.1-2.7-7-1.8-1.9-5.2-3.6-10.1-5.2L246 52c-7.3-2.3-12.7-5.7-16-10.2-3.3-4.4-5-9.3-5-14.5 0-4.2.9-7.9 2.7-11.1 1.8-3.2 4.2-6 7.2-8.2 3-2.3 6.4-4 10.4-5.2 4-1.2 8.2-1.7 12.6-1.7 2.2 0 4.5.1 6.7.4 2.3.3 4.4.7 6.5 1.1 2 .5 3.9 1 5.7 1.6 1.8.6 3.2 1.2 4.2 1.8 1.4.8 2.4 1.6 3 2.5.6.8.9 1.9.9 3.3v4.7c0 2.1-.8 3.2-2.3 3.2-.8 0-2.1-.4-3.8-1.2-5.7-2.6-12.1-3.9-19.2-3.9-5.7 0-10.2.9-13.3 2.8-3.1 1.9-4.7 4.8-4.7 8.9 0 2.8 1 5.2 3 7.1 2 1.9 5.7 3.8 11 5.5l14.2 4.5c7.2 2.3 12.4 5.5 15.5 9.6 3.1 4.1 4.6 8.8 4.6 14 0 4.3-.9 8.2-2.6 11.6-1.8 3.4-4.2 6.4-7.3 8.8-3.1 2.5-6.8 4.3-11.1 5.6-4.5 1.4-9.2 2.1-14.3 2.1z"
                    fill="#252f3e" />
                <path class="st1"
                    d="M273.5 143.7c-32.9 24.3-80.7 37.2-121.8 37.2-57.6 0-109.5-21.3-148.7-56.7-3.1-2.8-.3-6.6 3.4-4.4 42.4 24.6 94.7 39.5 148.8 39.5 36.5 0 76.6-7.6 113.5-23.2 5.5-2.5 10.2 3.6 4.8 7.6z" />
                <path class="st1"
                    d="M287.2 128.1c-4.2-5.4-27.8-2.6-38.5-1.3-3.2.4-3.7-2.4-.8-4.5 18.8-13.2 49.7-9.4 53.3-5 3.6 4.5-1 35.4-18.6 50.2-2.7 2.3-5.3 1.1-4.1-1.9 4-9.9 12.9-32.2 8.7-37.5z" />
            </svg>
            {{/ifEquals}}
            <!--Digital Ocean-->
            {{#ifEquals provider "DIGITAL_OCEAN"}}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="65.2 173.5 32 32" class=" mt-1 mr-2" style="width: 20px;"
                fill="#0080ff">
                <path
                    d="M81.202 205.5v-6.2c6.568 0 11.666-6.5 9.144-13.418a9.27 9.27 0 0 0-5.533-5.531c-6.912-2.502-13.425 2.575-13.425 9.14H65.2c0-10.463 10.124-18.622 21.1-15.195 4.8 1.505 8.618 5.313 10.105 10.1 3.43 10.99-4.717 21.107-15.203 21.107z" />
                <path
                    d="M75.05 199.317v-6.165h6.168v6.165zm-4.753 4.75v-4.75h4.753v4.75h-4.753zm0-4.75h-3.973v-3.97h3.973v3.97z" />
            </svg>
            {{/ifEquals}}
            <!--Google-->
            {{#ifEquals provider "GOOGLE"}}
            <svg id="gcp_logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" class=" mt-1 mr-2"
                style="width: 20px;">
                <path
                    d="M40.728 20.488l2.05.035 5.57-5.57.27-2.36A24.93 24.93 0 0031.993 6.26c-11.54 0-21.28 7.852-24.163 18.488.608-.424 1.908-.106 1.908-.106l11.13-1.83s.572-.947.862-.9A13.88 13.88 0 0132 17.375c3.3.007 6.34 1.173 8.728 3.102z"
                    fill="#ea4335" />
                <path
                    d="M56.17 24.77a25.073 25.073 0 00-7.555-12.177l-7.887 7.887c3.16 2.55 5.187 6.452 5.187 10.82v1.392c3.837 0 6.954 3.124 6.954 6.954 0 3.837-3.124 6.954-6.954 6.954H32.007L30.615 48v8.346l1.392 1.385h13.908A18.11 18.11 0 0064 39.647c-.007-6.155-3.1-11.6-7.83-14.876z"
                    fill="#4285f4" />
                <path
                    d="M18.085 57.74h13.9V46.6h-13.9a6.89 6.89 0 01-2.862-.622l-2.007.615-5.57 5.57-.488 1.88a18 18 0 0010.926 3.689z"
                    fill="#34a853" />
                <path
                    d="M18.085 21.57A18.11 18.11 0 000 39.654c0 5.873 2.813 11.095 7.166 14.403l8.064-8.064a6.96 6.96 0 01-4.099-6.339c0-3.837 3.124-6.954 6.954-6.954 2.82 0 5.244 1.7 6.34 4.1l8.064-8.064c-3.307-4.353-8.53-7.166-14.403-7.166z"
                    fill="#fbbc05" />
            </svg>
            {{/ifEquals}}
            <!--Azure-->
            {{#ifEquals provider "AZURE"}}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.68 15.24" class=" mt-1 mr-2" style="width: 20px;">
                <path
                    d="M9.105 14.43l4.642-.82.043-.01-2.387-2.84a403.945 403.945 0 01-2.387-2.853c0-.014 2.465-6.802 2.479-6.826.004-.008 1.682 2.888 4.066 7.02l4.09 7.09.031.054-7.587-.001-7.587-.001 4.597-.812zM0 13.566c0-.004 1.125-1.957 2.5-4.34L5 4.893l2.913-2.445A981.363 981.363 0 0110.836 0a.512.512 0 01-.047.118L7.625 6.903l-3.107 6.663-2.259.003c-1.242.002-2.259 0-2.259-.004z"
                    fill="#0089d6" />
            </svg>
            {{/ifEquals}}
            <div class="flex-col">
                <p class="text-xs font-medium" style="color:#000000">{{title}}</p>
                <div class="flex items-center">
                    <p style="color:#000000">
                        {{#ifEquals severity "CRITICAL"}}
                        <span class="flex text-xs font-normal">
                            <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" style="width: 30px;" class=" my-1"
                                viewBox="0 0 90 18">
                                <circle id="Ellipse_10" data-name="Ellipse 10" cx="8" cy="8" r="8" fill="#cc0500" />
                                <circle id="Ellipse_10" data-name="Ellipse 10" cx="30" cy="8" r="8" fill="#cc0500" />
                                <circle id="Ellipse_10" data-name="Ellipse 10" cx="52" cy="8" r="8" fill="#cc0500" />
                                <circle id="Ellipse_10" data-name="Ellipse 10" cx="74" cy="8" r="8" fill="#cc0500" />
                            </svg>
                            Critical
                        </span>
                        {{/ifEquals}}
                        {{#ifEquals severity "HIGH"}}
                        <span class="flex text-xs font-normal">
                            <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" style="width: 30px;" class=" my-1"
                                viewBox="0 0 90 18">
                                <circle id="Ellipse_10" data-name="Ellipse 10" cx="8" cy="8" r="8" fill="#df3d03" />
                                <circle id="Ellipse_10" data-name="Ellipse 10" cx="30" cy="8" r="8" fill="#df3d03" />
                                <circle id="Ellipse_10" data-name="Ellipse 10" cx="52" cy="8" r="8" fill="#df3d03" />
                                <circle id="Ellipse_10" data-name="Ellipse 10" cx="74" cy="8" r="8" fill="#CBD5E0" />
                            </svg>
                            High
                        </span>
                        {{/ifEquals}}
                        {{#ifEquals severity "MEDIUM"}}
                        <span class="flex text-xs font-normal">
                            <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" style="width: 30px;" class=" my-1"
                                viewBox="0 0 90 18">
                                <circle id="Ellipse_10" data-name="Ellipse 10" cx="8" cy="8" r="8" fill="#f9a009" />
                                <circle id="Ellipse_10" data-name="Ellipse 10" cx="30" cy="8" r="8" fill="#f9a009" />
                                <circle id="Ellipse_10" data-name="Ellipse 10" cx="52" cy="8" r="8" fill="#CBD5E0" />
                                <circle id="Ellipse_10" data-name="Ellipse 10" cx="74" cy="8" r="8" fill="#CBD5E0" />
                            </svg>
                            Medium
                        </span>
                        {{/ifEquals}}
                        {{#ifEquals severity "LOW"}}
                        <span class="flex text-xs font-normal">
                            <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" style="width: 30px;" class=" my-1"
                                viewBox="0 0 90 18">
                                <circle id="Ellipse_10" data-name="Ellipse 10" cx="8" cy="8" r="8" fill="#53aa33" />
                                <circle id="Ellipse_10" data-name="Ellipse 10" cx="30" cy="8" r="8" fill="#CBD5E0" />
                                <circle id="Ellipse_10" data-name="Ellipse 10" cx="52" cy="8" r="8" fill="#CBD5E0" />
                                <circle id="Ellipse_10" data-name="Ellipse 10" cx="74" cy="8" r="8" fill="#CBD5E0" />
                            </svg>
                            Low
                        </span>
                        {{/ifEquals}}
                    </p>
                    <div class="flex items-center ml-3">
                        <div style="width:5.5px; height:5.5px;border-radius:50%; background-color:#53aa33">
                        </div>
                        <p class="text-xs font-medium ml-1" style="color:#000000">Pass <span
                                class="ml-1">{{pass}}</span></p>
                    </div>
                    <div class="flex items-center text-xs font-medium ml-2" style="color:#000000">
                        <div style="width:5.5px; height:5.5px;border-radius:50%; background-color:#cc0500">
                        </div>
                        <p class="text-xs font-medium ml-1" style="color:#000000">Fail <span
                                class="ml-1">{{fail}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </td>
    <td>
        <div class="flex items-center">
            <div class="h-1 relative w-9/12 rounded-full overflow-hidden flex items-center">
                <div class="w-full h-full absolute" style="background-color:#F4F4F4"></div>
                <div class="h-full absolute"
                    style="background-color:{{progressColor (percentage pass (sum pass fail))}}; width:{{percentage pass (sum pass fail)}}%">
                </div>
            </div>
            <span class="text-xs font-medium ml-3" style="color:#000000">{{percentage pass (sum
                pass
                fail)}}%</span>
        </div>
    </td>
    <td class=" flex font-medium text-xs p-4 justify-center">
        <div class="rounded px-3 py-1 text-center {{passedCheckClass this}}" style="width:fit-content">
            {{passedCheckText this}}
        </div>
    </td>
</tr>
<tr>
    <td colSpan="3">
        <div class="ml-10 mr-4" style="border-bottom: 1px solid #F4F4F4;"></div>
    </td>
</tr>
{{/each}}
{{/if}}